<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>

<div class="page-width" style="background: {{ section.settings.background }};">
  <div class="our-container section">
    <!-- Swiper -->
    <div class="swiper mySwiper promotion-swiper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            <div class="our-container-item">
              {% if block.settings['promotions-image'] != blank %}
                <div class="our-promotions-image">
                  <img
                    src="{{ block.settings.promotions-image | image_url: width: 1500 }}"
                    alt="{{ block.settings.promotions-heading | escape }}"
                    class="promotion-circle-img"
                  >
                </div>
              {% endif %}
              <div class="our-promotions-text" style="color: {{ section.settings.text_color }};">
                {% if block.settings['promotions-heading'] != blank %}
                  <div class="our-promotions-heading">
                    <h4>{{ block.settings['promotions-heading'] }}</h4>
                  </div>
                {% endif %}
                {% if block.settings['promotions-paragraph'] != blank %}
                  <div class="our-promotions-paragraph">
                    {{ block.settings['promotions-paragraph'] }}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>

<style>
.our-container {
  padding: 20px 0;
}

.our-container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.h4, h4 {
  font-size: 16px;
  letter-spacing: 0px;
  text-transform: capitalize;
}

.our-promotions-image {
  padding: 0px 5px;
}

.our-promotions-text {
  padding: 0px 5px;
}

.promotion-circle-img {
  width: 70px;
  height: 70px;

  object-fit: cover;
  margin-bottom: 20px;
}

.our-promotions-paragraph p {
  font-size: 12px;
}

@media (min-width: 769px) {
  .our-promotions-heading h4{
    font-size: 24px;
  }  
}

@media (max-width: 768px) {
  .promotion-circle-img {
    width: 45px;
    height: 45px;
  
  }

  .our-promotions-heading h4{
    font-size: 21px;
  } 

  span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: black;
  }
}
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var promotionSwiper = new Swiper(".promotion-swiper", {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      breakpoints: {
        768: {
          slidesPerView: 2,
        },
        1024: {
          slidesPerView: 2,
        },
      }
    });
  });
</script>

{% schema %}
{
  "name": "Promotion badges",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#444444"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "name": "Promotion",
      "type": "Promotion",
      "settings": [
        {
          "type": "image_picker",
          "id": "promotions-image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "promotions-heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "promotions-paragraph",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Promotion badges"
    }
  ]
}
{% endschema %}

{% stylesheet %}{% endstylesheet %}
{% javascript %}{% endjavascript %}
